.title{
	text-align: center;

}

body{
	font-family: 'Inter', sans-serif;
}


.img-resize{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	height: auto
}

.input-resize{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50px;
	font-size: 50px;
}
